<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="auth">
      <h1 class="logo">Электронная библиотека</h1>
      <h2 class="auth__subtitle">Регистрация</h2>

      <form
        class="form"
        th:method="POST"
        th:action="@{/auth/registration}"
        th:object="${administrator}"
      >
        <div class="input-field">
          <label for="username" class="input-field__label">Логин</label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{username}"
            id="username"
          />
          <span
            class="error"
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
          >
          </span>
        </div>
        <div class="input-field">
          <label for="password" class="input-field__label">Пароль</label>
          <input
            class="input-field__input"
            type="password"
            th:field="*{password}"
            id="password"
          />
          <span
            class="error"
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
          >
          </span>
        </div>

        <button class="btn" type="submit">Зарегистрироваться</button>
      </form>

      <span class="auth__text">
        Уже есть аккаунт?
        <a href="/auth/login" class="auth__link">Войти</a>
      </span>
    </div>
  </body>
</html>
