<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="main-screen">
      <h1 class="logo">Электронная библиотека</h1>
      <h2 class="main-screen__subtitle">Добро пожаловать в систему</h2>
      <form th:action="@{/choiceBooksOrStudents}" th:method="GET">
        <button type="submit" class="btn">Начать работу</button>
      </form>
      <form th:action="@{/logout}" th:method="POST" style="text-align: center">
        <button type="submit" class="btn btn--outline">
          Выйти из аккаунта
        </button>
      </form>
    </div>
  </body>
</html>
