<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="main-screen">
      <h1 class="logo">Электронная библиотека</h1>
      <h2 class="main-screen__subtitle">Добавление ученика</h2>

      <form
        class="form"
        th:method="POST"
        th:action="@{/students}"
        th:object="${student}"
      >
        <div class="input-field">
          <label class="input-field__label" for="fullStudentName"
            >ФИО ученика
          </label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{fullStudentName}"
            id="fullStudentName"
          />
          <span
            class="error"
            th:if="${#fields.hasErrors('fullStudentName')}"
            th:errors="*{fullStudentName}"
          >
            Введите ФИО
          </span>
        </div>

        <div class="input-field">
          <label class="input-field__label" for="className"
            >Номер класса
          </label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{className}"
            id="className"
          />
          <span
            class="error"
            th:if="${#fields.hasErrors('className')}"
            th:errors="*{className}"
          >
            Введите номер класса
          </span>
        </div>
        <button type="submit" class="btn">Создать</button>
      </form>
    </div>
  </body>
</html>
