<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="main-screen">
      <h1 class="logo">Электронная библиотека</h1>
      <form
        class="form"
        th:method="PATCH"
        th:action="@{/books/{id}(id=${book.getBook_id()})}"
        th:object="${book}"
      >
        <div class="input-field">
          <label for="title" class="input-field__label">Название</label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{title}"
            id="title"
          />
          <div
            class="error"
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
          >
            Введите название
          </div>
        </div>

        <div class="input-field">
          <label for="author" class="input-field__label">Автор</label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{author}"
            id="author"
          />
          <div
            class="error"
            th:if="${#fields.hasErrors('author')}"
            th:errors="*{author}"
          >
            Введите автора
          </div>
        </div>

        <div class="input-field">
          <label for="year" class="input-field__label">Год</label>
          <input
            class="input-field__input"
            type="text"
            th:field="*{year}"
            id="year"
          />
          <div
            class="error"
            th:if="${#fields.hasErrors('year')}"
            th:errors="*{year}"
          >
            Введите год
          </div>
        </div>

        <button type="submit" class="btn">Редактировать</button>
      </form>
    </div>
  </body>
</html>
