<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Электронная библиотека</title>
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="main-screen">
      <h1 class="logo">Электронная библиотека</h1>
      <h2 class="main-screen__subtitle">Все книги</h2>

      <div class="order" th:each="book : ${books}">
        <a
          class="order__link"
          th:href="@{/books/{id}(id=${book.getBook_id()})}"
          th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
          >Книга</a
        >
      </div>

      <a href="/books/new" class="btn">Добавить книгу</a>
    </div>
  </body>
</html>
